<nav id="navigationBar" class="navigationBar-default">
    <ul id="navigationBar-list">
      <li><a href="{{back}}" class="nav-btn">{{ 'Cancel' | i18n}}</a></li>
      <li><h1>{{title | i18n}}</h1></li>
      <li>
        <button v-class="disabled: saveDisabled" class="save-btn" v-on="click: onSave">
          <span class="fa fa-check"></span> {{ 'Save' | i18n}}
        </button>
      </li>
    </ul>
</nav>
<form id="attributes">
    <div class="form-group" v-repeat="block.attributes" v-component="{{ getEditor(type) }}"></div>
    <div class="delete-brick">
      <button v-on="click: remove">
        <span class="fa fa-trash"></span>
        {{ 'Delete' | i18n }}
      </button>
    </div>
</form>
