#navigationBar,
.navigationBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: @header-height;

    #navigationBar-list {
        height: 100%;
        padding: 0px;
        margin: 0px;
        list-style: outside none none;
        white-space: nowrap;

        li {
            width: 33.33%;
            display: inline-block;
            > * {
                vertical-align: middle;
            }
            &:first-child {
                text-align: left;
            }
            &:first-child + li {
                text-align: center;
            }
            &:first-child + li + li {
                text-align: right;
            }
        }
    }

    h1 {
        margin: 0;
        font-size: 1.1em;
        font-weight: 400;
    }

    a {
        cursor: pointer;
    }

    .btn {
        border: none;
        outline: none;
        font-size: 13px;
    }

    .save-btn:extend(.navigationBar .btn) {

        height: 30px;
        line-height: 30px;
        padding: 0 10px 0 8px;
        background: @turquoise;
        color: @white;
        transition: background-color 0.3s ease-in-out;
        .fa {
            margin-right: 3px;
        }
        &.disabled {
            color: #CCC;
            background: @white;
        }
    }

    .nav-btn:extend(.navigationBar .btn) {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background: none;
        &.nav-btn-icon {
            font-size: inherit;
            padding-top: 0;
        }
        &.back {
            font-size: 1.4em;
        }
    }


    // Different navigationBar styles for different views
    &.navigationBar-default {
        line-height: @header-height - 1; // Subtract bottom border 1px and offset margin 1px
        border-bottom: 1px solid @lightGrey;
        background-color: @white;

        h1:extend(.navigationBar h1) {
            color: @highlight;
        }
        .nav-btn:extend(.navigationBar .nav-btn) {
            color: @highlight;
        }
    }

    &.navigationBar-alt {
        line-height: @header-height;

        h1:extend(.navigationBar h1) {
            color: @white;
        }
        .nav-btn:extend(.navigationBar .nav-btn) {
            color: @white;
        }
    }
}
