<ul id="navigationBar-list">
    <li>
        <button v-if="back === true" class="back nav-btn" v-on="click: goBack">&lt;</button>
        <a v-if="typeof back === 'string'" class="back nav-btn" href="{{back}}">&lt;</a>
    </li>
    <li>
        <h1>{{title | i18n}}</h1>
    </li>
    <li>
        <button v-if="typeof onDone === 'function'" v-on="click: onDone" v-class="disabled: doneDisabled" class="nav-btn">{{doneLabel || 'Done' | i18n}}</button>
        <a v-show="!offlineUser" v-if="typeof onDone === 'string'" href="{{onDone}}" v-class="disabled: doneDisabled" class="nav-btn">{{doneLabel || 'Done' | i18n}}</a>
    </li>
</ul>
